.main-sec{

    margin-top: 1rem;
    height:70vh;
    width:100vw;
    background-color: black;
}



/* .main-games{

    background: url('../../Pics/Tchia.webp');
    margin-top: 1rem;
    height:100%;
    width:100%;
    background-size: cover;
    background-position: center center;
    
} */