.main-header{

    background-color: black;
    padding:0.6rem;
}

.sec-header{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{

    margin-left:20px;

}

.right{

    margin-right: 20px;
    


}

